# dataset and training logs
src/data/vci-dataset-citr
src/data/mlp_n_agents_*
src/data/gnn*
logs
log
example_files
*outputs*
*old*
*out.txt*
test_playground.py
plots/
receding_horizon_trajectories_*
reference_trajectories_*
checkpoints
results

# cache files
*.egg-info
*__pycache__*

# images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.pdf
*.vscode
*.pytest_cache